html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/*********** font face **********/

@font-face {
  font-family: 'thaisans_neueregular';
  src: url("thaisansneue-regular-webfont.eot");
  src: url("thaisansneue-regular-webfont.eot?#iefix") format("embedded-opentype"), url("thaisansneue-regular-webfont.woff") format("woff"), url("thaisansneue-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'thaisans_neuebold';
  src: url("thaisansneue-bold-webfont.eot");
  src: url("thaisansneue-bold-webfont.eot?#iefix") format("embedded-opentype"), url("thaisansneue-bold-webfont.woff") format("woff"), url("thaisansneue-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/********************************/

html {
  background: #66318f;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66318f), color-stop(100%, #4a1d61));
  background: -webkit-linear-gradient(top, #66318f 0%, #4a1d61 100%);
  background: -webkit-gradient(linear, top left, bottom left, from(#66318f), to(#4a1d61));
  background: linear-gradient(to bottom, #66318f 0%, #4a1d61 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66318f', endColorstr='#4a1d61',GradientType=0 );
}

body {
  height: 100%;
  width: 100%;
  min-width: 1024px;
  min-height: 768px;
  font-family: 'thaisans_neueregular';
  font-size: 100%;
  background: none;
  background-image: url(../images/imgBg.png);
  background-position: center center;
  background-repeat: no-repeat;
}

body.withlogo {
  background-image: url(../images/imgBg_logo.png);
  background-position: center center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 3.3em;
}

h2 {
  font-size: 2em;
}

.container {
  min-width: 1024px;
  min-height: 768px;
  padding: 0 !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.headermenu {
  height: 50px;
  width: 100%;
  /*
  position: absolute;
  	top:30px;
  */
  position: relative;
  margin-top: 30px;
}

.headermenu .empname {
  color: white;
  display: inline;
  float: left;
  margin-left: 30px;
}

.headermenu .logout {
  display: inline;
  float: right;
  margin-right: 30px;
}

.footmenu {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #ddcb9f;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddcb9f), color-stop(52%, #e9ca1b), color-stop(100%, #b26b28));
  background: -webkit-linear-gradient(top, #ddcb9f 0%, #e9ca1b 52%, #b26b28 100%);
  background: -webkit-gradient(linear, top left, bottom left, from(#ddcb9f), color-stop(52%, #e9ca1b), to(#b26b28));
  background: linear-gradient(to bottom, #ddcb9f 0%, #e9ca1b 52%, #b26b28 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddcb9f', endColorstr='#b26b28',GradientType=0 );
}

.footmenu ul {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.footmenu ul li {
  width: 255px;
  height: 60px;
  list-style: none;
  float: left;
  border-right: 1px solid #756E39;
  border-left: 1px solid #BAAF5A;
}

.footmenu ul li a {
  width: 100%;
  display: block;
  line-height: 60px;
  text-align: center;
  color: black;
  font-size: 1.5em;
}

.footmenu ul li a:hover {
  text-decoration: none;
  color: white;
  background: #6697dd;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6697dd), color-stop(52%, #2e38e8), color-stop(100%, #35b1a4));
  background: -webkit-linear-gradient(top, #6697dd 0%, #2e38e8 52%, #35b1a4 100%);
  background: -webkit-gradient(linear, top left, bottom left, from(#6697dd), color-stop(52%, #2e38e8), to(#35b1a4));
  background: linear-gradient(to bottom, #6697dd 0%, #2e38e8 52%, #35b1a4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6697dd', endColorstr='#35b1a4',GradientType=0 );
}

.footmenu ul li:first-child {
  border-left: none;
}

.footmenu ul li:last-child {
  border-right: none;
}

.row {
  margin: 0;
}

.welcometext {
  text-align: center;
  width: 100%;
  color: white;
  margin-top: 200px;
}

.welcometext:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
  width: 100%;
}

.panel {
  background: none;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  float: none !important;
  border: none !important;
  border-radius: 5px;
  overflow: hidden;
  background: #c9c9c9;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9c9c9), color-stop(100%, #575757));
  background: -webkit-linear-gradient(top, #c9c9c9 0%, #575757 100%);
  background: -webkit-gradient(linear, top left, bottom left, from(#c9c9c9), to(#575757));
  background: linear-gradient(to bottom, #c9c9c9 0%, #575757 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9c9c9', endColorstr='#575757',GradientType=0 );
}

.panel:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
  width: 100%;
}

.panel input,
.panel button {
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.panel input {
  width: 80%;
}

.panel-title {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.page-login .login {
  width: 300px;
  min-height: 200px;
  margin-top: 30px;
}

.mainpanel {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.movie .mainpanel {
  width: 904px;
  height: 592px;
  position: relative;
}

.movie .panel-1 {
  width: 512px;
  height: 346px;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 !important;
}

.movie .panel-1 .movie-box {
  margin-left: auto;
  margin-right: auto;
  width: 488px;
  height: 231px;
  overflow: hidden;
  display: block;
  background: url(../images/movieBG.jpg) left top no-repeat;
}

.movie .panel-1 .movie-box .poster {
  width: 188px;
  height: 231px;
  display: inline;
  float: right;
}

.movie .panel-1 .movie-box .poster img {
  width: 188px;
  height: 231px;
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
  -webkit-filter: FlipH;
  filter: FlipH;
  -ms-filter: "FlipH";
}

.movie .panel-1 .movie-name {
  background-color: black;
  margin-top: 15px;
  width: 488px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  color: white;
  line-height: 50px;
  font-size: 2.5em;
  padding: 10px;
}

.movie .panel-2 {
  width: 380px;
  height: 592px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/panel02.png) no-repeat center top;
}

.movie .panel-2 .movie-list {
  width: 355px;
  height: 442px;
  background: url(../images/movie-list.png) center top repeat-y;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.movie .panel-2 .movie-list ul {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.movie .panel-2 .movie-list ul li {
  list-style: none;
  text-align: left;
  width: 100%;
  height: 35px;
  margin-top: 2px;
  font-size: 1.5em;
  line-height: 50%;
}

.movie .panel-2 .movie-list ul li:first-child {
  margin-top: 0;
}

.movie .panel-2 .movie-list ul li:hover {
  background-color: white;
}

.movie .panel-2 .movie-list ul li a {
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 10px;
  color: white;
}

.movie .panel-2 .movie-list ul li a:hover {
  color: black;
}

.movie .panel-2 .movie-detail {
  width: 100%;
  height: 72px;
  position: relative;
  margin-top: 10px;
}

.movie .panel-2 .movie-detail > div {
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
  color: #333333;
}

.movie .panel-2 .movie-detail > div span {
  font-weight: normal;
}

.movie .panel-2 .movie-detail .movie-type {
  left: 0;
  top: 0;
  text-align: left;
  width: 50%;
}

.movie .panel-2 .movie-detail .movie-author {
  right: 0;
  top: 0;
  text-align: right;
  width: 50%;
}

.movie .panel-2 .movie-detail .movie-duration {
  left: 0;
  bottom: 0;
  text-align: left;
  width: 100%;
}

.movie .panel-3 {
  width: 512px;
  height: 231px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 !important;
  background: url(../images/panel01.png) no-repeat center top;
}

.movie .panel-3 .date-time {
  position: absolute;
  right: 10px;
  top: 10px;
  color: yellow;
  font-size: 1.8em;
}

.movie .panel-3 .time-list {
  width: 100%;
  padding: 5px;
  padding-top: 15px;
  height: 152px;
  background-color: black;
  color: white;
  -webkit-column-width: 150px;
  -moz-column-width: 150px;
  column-width: 150px;
}

.movie .panel-3 .time-list ul li {
  font-size: 1.5em;
  width: 150px;
  text-indent: 10px;
  margin-top: 5px;
}

.movie .panel-3 .time-list ul li:hover {
  background-color: white;
}

.movie .panel-3 .time-list ul li:hover a {
  color: black;
}

.movie .panel-3 .time-list ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.theater .mainpanel {
  width: 977px;
}

.theater .theater-panel {
  position: relative;
  width: 237px;
  height: 230px;
  display: inline;
  float: left;
  background: url(../images/theatre_panel.png) no-repeat center center;
  margin-top: 7px;
  margin-bottom: 7px;
}

.theater .theater-panel:nth-child(even) {
  margin-left: 7px;
  margin-right: 7px;
}

.theater .theater-panel .theater-num {
  position: absolute;
  left: 5px;
  top: 10px;
  font-size: 1.6em;
}

.theater .theater-panel .theater-num span {
  color: yellow;
}

.theater .theater-panel .theater-movie {
  background-color: black;
  width: 227px;
  height: 179px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

.theater .theater-panel .theater-movie ul li {
  width: 100%;
  padding: 3px;
}

.theater .theater-panel .theater-movie ul li:hover {
  background-color: white;
}

.theater .theater-panel .theater-movie ul li:hover a {
  color: black;
}

.theater .theater-panel .theater-movie ul li a {
  text-decoration: none;
  font-size: 1.1em;
  color: white;
  display: block;
}

/*******input style*******/

.btn-primary {
  background: none;
  border: none;
  background-color: #29ABE2 !important;
  /* border-color: #29ABE2 !important; */
}