@import 'compass/reset';
@charset "utf-8";
@mixin mainbgColor{
		background: #66318f;
		background: -moz-linear-gradient(top,  #66318f 0%, #4a1d61 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66318f), color-stop(100%,#4a1d61));
		background: -webkit-linear-gradient(top,  #66318f 0%,#4a1d61 100%);
		background: -o-linear-gradient(top,  #66318f 0%,#4a1d61 100%);
		background: -ms-linear-gradient(top,  #66318f 0%,#4a1d61 100%);
		background: linear-gradient(to bottom,  #66318f 0%,#4a1d61 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66318f', endColorstr='#4a1d61',GradientType=0 );

	} 
@mixin grayPanel{
	background: #c9c9c9;
	background: -moz-linear-gradient(top,  #c9c9c9 0%, #575757 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9c9c9), color-stop(100%,#575757));
	background: -webkit-linear-gradient(top,  #c9c9c9 0%,#575757 100%);
	background: -o-linear-gradient(top,  #c9c9c9 0%,#575757 100%);
	background: -ms-linear-gradient(top,  #c9c9c9 0%,#575757 100%);
	background: linear-gradient(to bottom,  #c9c9c9 0%,#575757 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#575757',GradientType=0 );

}


@mixin grayPanel2{
	background: #c9c9c9;
	background: -moz-linear-gradient(top,#575757 0%,#c9c9c9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#575757), color-stop(100%,#c9c9c9));
	background: -webkit-linear-gradient(top, #575757 0%, #c9c9c9 100%);
	background: -o-linear-gradient(top, #575757 0%, #c9c9c9 100%);
	background: -ms-linear-gradient(top, #575757 0%, #c9c9c9 100%);
	background: linear-gradient(to bottom, #575757 0%, #c9c9c9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575757', endColorstr='#c9c9c9',GradientType=0 );

}


@mixin grayLeft{
	background: #c9c9c9; /* Old browsers */
	background: -moz-linear-gradient(top,  #c9c9c9 0%, #575757 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9c9c9), color-stop(100%,#575757)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c9c9c9 0%,#575757 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c9c9c9 0%,#575757 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c9c9c9 0%,#575757 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c9c9c9 0%,#575757 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#575757',GradientType=0 ); /* IE6-9 */

}

@mixin silver{
	background: #d7d6d7; /* Old browsers */
	background: -moz-linear-gradient(top,  #d7d6d7 0%, #797777 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7d6d7), color-stop(100%,#797777)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d7d6d7 0%,#797777 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d7d6d7 0%,#797777 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d7d6d7 0%,#797777 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d7d6d7 0%,#797777 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d6d7', endColorstr='#797777',GradientType=0 ); /* IE6-9 */

}
@mixin gold{
	background: #ddcb9f;
	background: -moz-linear-gradient(top,  #ddcb9f 0%, #e9ca1b 52%, #b26b28 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddcb9f), color-stop(52%,#e9ca1b), color-stop(100%,#b26b28));
	background: -webkit-linear-gradient(top,  #ddcb9f 0%,#e9ca1b 52%,#b26b28 100%);
	background: -o-linear-gradient(top,  #ddcb9f 0%,#e9ca1b 52%,#b26b28 100%);
	background: -ms-linear-gradient(top,  #ddcb9f 0%,#e9ca1b 52%,#b26b28 100%);
	background: linear-gradient(to bottom,  #ddcb9f 0%,#e9ca1b 52%,#b26b28 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddcb9f', endColorstr='#b26b28',GradientType=0 );
}

@mixin blue{
	background: #6697dd;
	background: -moz-linear-gradient(top,  #6697dd 0%, #2e38e8 52%, #35b1a4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6697dd), color-stop(52%,#2e38e8), color-stop(100%,#35b1a4));
	background: -webkit-linear-gradient(top,  #6697dd 0%,#2e38e8 52%,#35b1a4 100%);
	background: -o-linear-gradient(top,  #6697dd 0%,#2e38e8 52%,#35b1a4 100%);
	background: -ms-linear-gradient(top,  #6697dd 0%,#2e38e8 52%,#35b1a4 100%);
	background: linear-gradient(to bottom,  #6697dd 0%,#2e38e8 52%,#35b1a4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6697dd', endColorstr='#35b1a4',GradientType=0 );
}

@mixin violetHor{
	background: #71369e; /* Old browsers */
	background: -moz-linear-gradient(left,  #71369e 0%, #4a1d61 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#71369e), color-stop(100%,#4a1d61)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #71369e 0%,#4a1d61 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #71369e 0%,#4a1d61 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #71369e 0%,#4a1d61 100%); /* IE10+ */
	background: linear-gradient(to right,  #71369e 0%,#4a1d61 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71369e', endColorstr='#4a1d61',GradientType=1 ); /* IE6-9 */
}

@mixin violetVer{
	background: #4a1d61; /* Old browsers */
	background: -moz-linear-gradient(top,  #4a1d61 0%, #71369e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a1d61), color-stop(100%,#71369e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4a1d61 0%,#71369e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4a1d61 0%,#71369e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4a1d61 0%,#71369e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4a1d61 0%,#71369e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a1d61', endColorstr='#71369e',GradientType=0 ); /* IE6-9 */
}

@mixin bg{
	background-image: url(../images/imgBg.png);
	background-position: center center;
	background-repeat: no-repeat;
}
@mixin bgLogo{
	background-image: url(../images/imgBg_logo.png);
	background-position: center center;
	background-repeat: no-repeat;
}

@mixin radius{
	border-radius: 5px;
	overflow: hidden;
}
@mixin clearfix{
	&:after{
		content: "";
		display: block;
		visibility: hidden;
		clear: both; 
		width: 100%;	
	}
}


$darkgray:#333333;

/*********** font face **********/
@font-face {
    font-family: 'thaisans_neueregular';
    src: url('thaisansneue-regular-webfont.eot');
    src: url('thaisansneue-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('thaisansneue-regular-webfont.woff') format('woff'),
         url('thaisansneue-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thaisans_neuebold';
    src: url('thaisansneue-bold-webfont.eot');
    src: url('thaisansneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('thaisansneue-bold-webfont.woff') format('woff'),
         url('thaisansneue-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/********************************/



html{@include mainbgColor;}
body{
	height: 100%;
	width: 100%;
	min-width: 1024px;
	min-height: 768px;
	font-family: 'thaisans_neueregular';
	font-size: 100%;
	background: none;
}
.nologo{
	@include bg;
}
.withlogo{
	@include bgLogo;
}
h1{font-size: 3.3em;}
h2{font-size: 2em;}
.btn{min-width: 100px;}
.container{
	min-width: 1024px;
	min-height: 768px;
	padding: 0 !important;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.headermenu{
	height: 50px;
	width: 100%;
	/*
position: absolute;
	top:30px;
*/
	position:relative;
	margin-top: 30px;
	.empname{
		color: white;
		display: inline;
		float: left;
		margin-left: 30px;
	}
	.logout{
		display: inline;
		float: right;
		margin-right: 30px;
	}
}
.footmenu{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	@include gold;
	ul{
		width: 1024px;
		margin-left: auto;
		margin-right: auto;
		li{
			width: 255px;
			height: 60px;
			list-style: none;
			float: left;
			border-right: 1px solid #756E39;
			border-left: 1px solid #BAAF5A;
			a{
				width: 100%;
				display: block;
				line-height: 60px;
				text-align: center;
				color: black;
				font-size: 1.5em;
				&:hover{
					text-decoration: none;
					color: white;
					@include blue;
				}
			}
			&:first-child{
				border-left: none;
			}
			&:last-child{
				border-right:none;
			}
		}
	}
}
.row{
	margin: 0;
}
.welcometext{
	text-align: center;
	width: 100%;
	color: white;
	@include clearfix;
	margin-top: 200px;
}
.panel{
	background: none;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	float: none !important;
	border: none !important;

	@include radius;
	@include grayPanel;
	@include clearfix;
	input,button{display: block; margin-top: 20px; margin-left: auto;margin-right: auto;} 
	input{width: 80%;}
	/* button{margin-left: auto;margin-right: auto;} */
}
.panel-title{
	font-size: 1.8em;
	margin-bottom: 10px;		
}
.page-login .login{
	width: 300px;
	min-height: 200px;
	margin-top: 30px;
}
.mainpanel{
	position: relative;
	margin-left: auto;
	margin-right: auto;	
}
.movie .mainpanel{
	width: 904px;
	height: 592px;
	position: relative;	
}
.movie .panel-1{
	width: 512px;
	height: 346px;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0 !important;
	.movie-box{
		margin-left: auto;
		margin-right: auto;
		width: 488px;
		height: 231px;
		overflow: hidden;
		display: block;
		background:url(../images/movieBG.jpg) left top no-repeat;
		.poster{
			width: 188px;
			height: 231px;
			display: inline;
			float: right;
			img{
				width: 188px;
				height: 231px;
				-moz-transform: scaleY(-1);
				-o-transform: scaleY(-1);
				-webkit-transform: scaleY(-1);
				transform: scaleY(-1);
				filter: FlipH;
				-ms-filter: "FlipH";
			}
		}
	}
	.movie-name{
		background-color: black;
		margin-top: 15px;
		width: 488px;
		height: 65px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		transform: rotate(180deg);
		color: white;
		line-height: 50px;
		font-size: 2.5em;
		padding: 10px;
	}
}
.movie .panel-2{
	width: 380px;
	height: 592px;
	position: absolute;
	top:0;
	right: 0;
	background : url(../images/panel02.png) no-repeat center top;
	
	.movie-list{
		width: 355px;
		height: 442px;
		background: url(../images/movie-list.png) center top repeat-y;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		ul{	
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			li{
				list-style: none;
				text-align: left;
				width: 100%;
				height: 35px;
				margin-top:2px;
				font-size: 1.5em;
				line-height: 50%;
				&:first-child{
					margin-top:0 ;
				}
				&:hover{
					background-color: white;
				}
				a{
					text-decoration: none;
					display: block;
					height: 100%;
					padding: 10px;
					color: white;
					&:hover{
						color: black;
					}
				}
			}
		}
	}
	
	.movie-detail{
		width: 100%;
		height: 72px;
		position: relative;
		margin-top: 10px;
		>div{
			position: absolute;
			font-size: 1.5em;
			font-weight: bold;
			color: $darkgray;
			span{
				font-weight: normal;
			}
		}
		.movie-type{
			left: 0;
			top:0;
			text-align: left;
			width: 50%;
			
		}
		.movie-author{
			right: 0;
			top:0;
			text-align: right;
			width: 50%;
			
		}
		.movie-duration{
			left: 0;
			bottom: 0;
			text-align: left;
			width: 100%;
		}
	}
}
.movie .panel-3{
	width: 512px;
	height: 231px;
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0 !important;
	background: url(../images/panel01.png) no-repeat center top;
	.date-time{
		position: absolute;
		right: 10px;
		top:10px;
		color: yellow;
		font-size: 1.8em;
	}
	.time-list{
		width: 100%;
		padding: 5px;
		padding-top: 15px;
		height: 152px;
		background-color:black;
		color: white;
		column-width:150px;
		ul{
			li{
				font-size: 1.5em;
				width: 150px;
				text-indent: 10px;
				margin-top: 5px;
				&:hover{
					background-color: white;
					a{
						color: black;
					}
				}
				a{
					color: white;
					text-decoration: none;
					display: block;
				}
			}
		}
	}
	
}
.theater{
	.mainpanel{
		width: 977px;
	}
	.theater-panel{
		position: relative;
		width: 237px;
		height: 230px;
		display: inline;
		float: left;
		background: url(../images/theatre_panel.png) no-repeat center center;
		margin-top: 7px;
		margin-bottom: 7px;
		&:nth-child(even){
			margin-left: 7px;
			margin-right: 7px;
		}
		.theater-num{
			position: absolute;
			left: 5px;
			top: 10px;
			font-size: 1.6em;
			span{
				color: yellow;
			}
		}
		.theater-movie{
			background-color: black;
			width: 227px;
			height: 179px;
			overflow: auto;
			margin-left: auto;
			margin-right: auto;
			margin-top: 45px;
			ul{
				li{
					width: 100%;
					padding: 3px;
					&:hover{
						background-color: white;
						a{
							color: black;
							
						}
					}
					a{
						text-decoration: none;
						font-size: 1.1em;
						color: white;
						display: block;
					}
				}
			}
		}
	}
}
.reserve-check{
	.mainpanel{
		width: 1024px;
		position: relative;	
		.panel{
			width: 278px;
			height: 196px;
			background: url(../images/reservecheck-panel.png) no-repeat center top;
			position: fixed;
			left: 50%;
			top:50%;
			margin-left: -10%;
			margin-top: -10%;
		}
		
	}
}
.member-check{
	.panel{
		width: 620px;
		height: 437px;
		position: absolute;
		left: 50%;
		top:50%;
		margin-left: -25%;
		margin-top: 30px;
		background: url(../images/member-panel.png) no-repeat center top;
		.panel-title{
			width: 100%;
			text-align: center;
		}
		table{
			width: 380px;
			margin-left: auto;
			margin-right: auto;
			th{
				width: 120px;
				padding-right: 10px;
				font-size: 1.2em;
				color: blue;
				text-align: right;
				padding-top: 10px;
				
			}
			td{
				padding-top: 10px;
				input,textarea{
					margin: 0 !important;
					width: 100%;
				}
				textarea{height: 100px; border:none;}
			}
		}
	}
}
.theatre-plan{
	.right-col{
		width: 251px;
		position: relative;
		display: inline;
		float: right;
		.num{
			width: 100%;
			height: 115px;
			background: url(../images/theatrenum_bg.jpg) no-repeat right top;
			text-align: right;
			padding-right: 30px;
			color: yellow;
			font-size: 7em;
			font-family: 'thaisans_neuebold';
			overflow: hidden;
		}
		.theatre-detail{
			@include violetHor;
			width: 100%;
			height: 275px;
			padding: 10px;
			color: white;
			font-size: 1.5em;
			>div{margin-top: 10px;}
			.time{
				width: 100%;
				height: 70px;

				*{display: inline-block; text-align: left;}
				.box{
					width: 170px;
					height: 70px;
					float: right;
					background-color: black;
					@include radius;
					overflow: hidden;
					text-align: center;
					color: yellow;
					line-height: 90%;
					font-size: 3em;
				}
			}
			.mov-name{
				margin-top: 10px;
				margin-bottom: 10px;
				span{
					color: gray;
				}
			}
			.seat-num{
				width: 100%;
				line-height: 40px;
				.box{
					@include radius;
					width: 115px;
					height: 40px;
					text-align: center;
					color: yellow;
					font-size: 2em;
					line-height: 80%;
					display: inline;
					float: right;
				}
			}
			.amount{
				width: 100%;
				line-height: 40px;
				.box{
					@include radius;
					width: 115px;
					height: 40px;
					text-align: center;
					color: yellow;
					font-size: 2em;
					line-height: 80%;
					display: inline;
					float: right;
				}

			}
		}
		.showtime{
			width: 100%;
			height: 378px;
			@include violetVer;
			position: relative;
			.time-list{
				width: 100%;
				height: 300px;
				overflow: auto;
				padding-top: 10px;
				ul{
					
					li{
						width: 80%;
						margin-left: auto;
						margin-right: auto;
						font-size: 1.5em;
						margin-top: 3px;
						padding-left: 30px;
						padding-right: 30px;
						&:hover{
							background-color: white;
							a{
								color: black;
								text-decoration: none;
							}
						}
						a{
							color: white;
							display: block;
							width: 100%;
							height: 100%;
							div{
								display: inline;
								float: right;
								text-align: left;
								width: 60px;
							}
						}
					}
				}
			}
			button{
				width: 190px;
				height: 60px;
				border: 0;
				margin-top: 10px;
				float: none;
				margin-left: 30px;
				background:url(../images/cashingbtn.png) no-repeat;
				background-position: 0 0;
				&:hover{
					background-position: 0px -60px;
				}
			}
		}
		.payment{
			width: 100%;
			height: 378px;
			padding: 10px;
			@include grayPanel2;
			.btn-list{
				display: block;
				width: 100%;
				height: 23px;
				ul{
					li{
						list-style: none;
						float:left;
						margin-right: 5px;
					}
				}
			}
			.pay-list{
				width: 100%;
				height: 110px;
				display: block;
				background-color: white;
				margin-top: 10px;
			}
			.pricesum{
				margin-top: 10px;
				width: 100%;
				text-align:left;
				color: white;
				font-size: 1.7em;
				position: relative;
				>div{
					display: inline;
					&:last-child{
						position: absolute;
						right: 0;
					}
				}				
				.price{
					color: #4D4D4D;
					position: absolute;
					right: 60px;
				}
			}
			.credit{
				background-color: yellow;
				color: black;
				width: 100%;
				display: block;
				margin-top: 10px;
				&:hover{
					background-color: #1949a2;
					color: white;
				}
			}
			.cal,.back{
				display: inline;
				float: left;
				width: 45%;
				margin-top: 10px;
			}
			.cal{
				margin-right: 10%;
			}
			
		}
	}
}
.box.gray{
	background-color: #8C8C8C;
}

.paymentoption{
	max-width: 970px;
	height: 400px !important;
	min-height:400px !important;
	.panel{
		width: 970px;
		height: 400px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		@include grayPanel2;
		.seat-summary{
			position: absolute;
			left: 210px;
			top:13px;
			color: white;
			font-size: 1.6em;
			width: 120px;
			div{
				display: inline;
				float: right;
				color: yellow;
			}
		}
		.option{
			width: 435px;
			position: absolute;
			right: 10px;
			top:13px;
			color: white;
			font-size: 1.6em;
			
			ul{	
				display: inline;
				float: right;
				li{
					list-style: none;
					float: left;
					margin-left: 10px;
					button{
						margin-top: 0;
					}
				}
			}
		}
		.table-frame{
			width: 100%;
			height: 260px;
			margin-top: 20px;
			position: relative;
			background-color: white;
			padding-bottom: 50px;
			.last-row{
				width: 100%;
				height: 50px;
				position: absolute;
				bottom: 0;
				left: 0;
				background-color: #4D4D4D;
			}
			table{
				width: 100%;
				tr{
					th{
						background-color: #B3B3B3;
						font-size: 1.5em;
						text-align: center;
						padding: 5px;
						border:1px solid black;
						border-bottom: none;
						height: 50px;
					}
					td{
						border:1px solid black;
						border-top:none;
						height: 50px;
					}
				}
			}
		}
		.sum{
			margin-top: 20px;
			ul{
				li{
					color: #333333;
					font-size: 1.5em;
					list-style: none;
					float: left;
					margin-right: 10px;
					line-height: 40px;
					.box{
						background-color: #333333;
						color: yellow;
						text-align: right;
						padding: 5px;
						font-size: 1.5em;
						width: 90px;
						display: inline;
						float: right;
						margin-left: 5px;
						margin-right: 5px;
						line-height: 30px;
					}
				}
			}
		}
		.select{
			position: absolute;
			right: 10px;
			bottom: 20px;
			text-align: left;
			width: 250px;
			font-size: 1.6em;
			input[type="checkbox"]{
				width: 15px;
				height: 15px;
				margin: 0 !important;
				display: inline;
			}
			button{
				float: right;
				margin: 0 !important;
			}
		}
	}
}
body.calculator{
	width: 400px;
	height: 608px;
	min-height: 608px;
	.panel{
		width: 400px;
		height: 608px;
		@include grayPanel2;
		.panel-title{text-align: center;}
		.inner{
			width: 281px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 30px;
			ul{
				li{
					text-align: right;
					color: white;
					display: block;
					margin-top: 10px;
					font-size: 1.5em;
					.box{
						background-color: #333333;
						color: yellow;
						width: 160px;
						min-width: 160px;
						height: 37px;
						display: inline-block;
						
						input[type="text"]{
							width: 90%; 
							background: none;
							border: none;
							margin: 0 !important;
							margin-left: 5px;
							margin-top: 5px !important;
							text-align: right;
							color: yellow;
						}
					}
				}
			}
			.cal-btn{
				margin-top: 20px;
				.cbtn{
					width: 65px;
					height: 65px;
					@include silver;
					@include radius;
					border: 1px solid #666666;
					display: inline;
					float: left;
					margin-top: 5px;
					margin-left: 5px;
					color: #333333;
					font-size: 3.2em;
					line-height: 120%;					
					text-align: center;
					cursor: pointer;
					&:hover{
						background: #797777; /* Old browsers */
						background: -moz-linear-gradient(top,  #797777 0%, #d7d6d7 100%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#797777), color-stop(100%,#d7d6d7)); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(top,  #797777 0%,#d7d6d7 100%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(top,  #797777 0%,#d7d6d7 100%); /* Opera 11.10+ */
						background: -ms-linear-gradient(top,  #797777 0%,#d7d6d7 100%); /* IE10+ */
						background: linear-gradient(to bottom,  #797777 0%,#d7d6d7 100%); /* W3C */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#797777', endColorstr='#d7d6d7',GradientType=0 ); /* IE6-9 */
					}
				}
				&:after{
					content: "";
					clear: both;
					display: block;
				}
			}
			.btn{
					width: 100%;
					margin-top: 20px;
					display: block;
					clear: both;
				}
		}
	}
}
/*******input style*******/
input ,textarea{border-radius: 5px;}
.form-control{margin-top: 10px !important;}
.btn-primary{
	background : none;
	border:none;
	background-color: #29ABE2;
	/* border-color: #29ABE2 !important; */
}


